/* .imageGallery { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
        
} */

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
    padding: 1em;
    /* flex-direction: row; */
}