.modalImageViewer {
    max-width: 80vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background-color: #888888; */
    color: #ffffff;
    /* filter: blur(5px); */
}

.modalImageViewer::before {
    /* z-index: -1; */
    position: relative;
    top:0;

    width: 200px;
    height: 200px;
    background-color: blueviolet;
    filter: blur(5px)
}

.modalCloseBtn{
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    /* height: 1em; */
    /* aspect-ratio: 1; */
    padding: .3em;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    color: #ffffff;
}

.modalCloseBtn:hover,
.modalCloseBtn:focus {
    border: 0;
    outline: 0;
}

.modalCloseBtn:hover {
    scale: 1.1;
}

.modalImageWrap {
    max-height: 70vh;
    display: block;
    object-fit: contain;
    flex-grow: 8;    
}

.modalImage {
    max-height: 70vh;
}

.modalCaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    padding: .5em .5em;
}
.modalTitle {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    /* padding: .5em; */
}
.modalImageInfo {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1.3em;
}

.modalImageLikes,
.modalAuthorName,
.modalAuthorLocation {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: .5em;
}
